In [3]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [4]:
# write your code here ^_^
x = np.ones(5)
x

array([1., 1., 1., 1., 1.])

## Q#2: Create y array with elements equal to 0.

In [5]:
# write your code here ^_^
y = np.zeros(5)
y

array([0., 0., 0., 0., 0.])

## Q#3: Add x and y arrays.

In [6]:
# write your code here ^_^
x + y

array([1., 1., 1., 1., 1.])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [11]:
# write your code here ^_^

#dimension
print(x.ndim)

#shape
print(x.shape)

#size
print(x.size)

#type
print(type(x))

#elements type
print(x.dtype)

1
(5,)
5
<class 'numpy.ndarray'>
float64

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [14]:
# write your code here ^_^
w = np.array([[11,12],[13,14],[15,16]])
w

array([[11, 12],
       [13, 14],
       [15, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [19]:
# write your code here ^_^
z = np.arange(1,4)
z

array([1, 2, 3])

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [25]:
# write your code here ^_^
z = z.reshape(3,1)
newArray  = np.hstack((z, w))
newArray

array([[ 1, 11, 12],
       [ 2, 13, 14],
       [ 3, 15, 16]])

## Q#8: Print all elements of "newArray" using the loop.

In [29]:
# write your code here ^_^

#print all element as 3lists 
for element in newArray:
    print(element)

[ 1 11 12]
[ 2 13 14]
[ 3 15 16]

In [31]:
#print all element in newArray
for element in newArray.flatten():
    print(element)

1
11
12
2
13
14
3
15
16

## Q#9: Reverse the columns and rows of "newArray".

In [32]:
# write your code here ^_^
newArray = newArray.T
newArray

array([[ 1,  2,  3],
       [11, 13, 15],
       [12, 14, 16]])

## Q#10: Decrement all elements of "newArray" with 1.

In [33]:
# write your code here ^_^
newArray = newArray - 1 
newArray

array([[ 0,  1,  2],
       [10, 12, 14],
       [11, 13, 15]])

## Q#11: Find smallest and biggest values in "newArray".

In [36]:
# write your code here ^_^

#find smallest and biggest
smallest = np.max(newArray)
biggest = np.min(newArray)

print(smallest)
print(biggest)

15
0

## Q#12: Print the first row of "newArray" using indexing.

In [38]:
# write your code here ^_^
print(newArray[0])

[0 1 2]

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [39]:
# write your code here ^_^
print(newArray[1,1])

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [42]:
# write your code here ^_^
print(newArray[0,0])
print(newArray[2,1])

0
13

## Q#15: Change the shape of "newArray" to (9,1).

In [44]:
# write your code here ^_^
newArray = newArray.reshape((9,1))
print(newArray)

[[ 0]
 [ 1]
 [ 2]
 [10]
 [12]
 [14]
 [11]
 [13]
 [15]]

## Q#16: Change the shape of "newArray" to (3,3).

In [45]:
# write your code here ^_^
newArray = newArray.reshape((3,3))
print(newArray)

[[ 0  1  2]
 [10 12 14]
 [11 13 15]]

# Well Done ðŸŽ‰